
{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block form %}
    {{ parent() }}
    {# init tinyMce in content textarea of the email create/edit form #}
    {{ tinymce_init({'theme': { 'advanced': {'paste_data_images' : true, 'height': 280 }}}) }}
{% endblock %}

{# add the send button to update form #}
{% block sonata_form_actions %}
    {{ parent() }}
    {% if admin.id(object) is not null %}
        <a class="btn btn-info" href="{{ admin.generateObjectUrl('send', object) }}"><i class="fa fa-paper-plane"></i> {{ 'action_send'|trans({}, 'SonataAdminBundle') }}</a>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/librinfoemail/js/main.js') }}"></script>
{% endblock %}
