
{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block form %}
    {{ parent() }}
    {# init tinyMce in content textarea of the email create/edit form #}
    {{ tinymce_init({'theme': { 'advanced': {'paste_data_images' : true, 'height': 280 }}}) }}
{% endblock %}

{# add the send button to update form #}
{% block sonata_form_actions %}
    {{ parent() }}
    {% if admin.id(object) is not null %}
        {% if not object.sent %}
            <a class="btn btn-info" href="{{ admin.generateObjectUrl('send', object) }}"><i class="fa fa-paper-plane"></i> {{ 'Send'|trans({}, 'LibrinfoEmailBundle') }}</a>
        {% endif %}
        <a class="btn btn-info" href="{{ admin.generateObjectUrl('duplicate', object) }}"><i class="fa fa-files-o"></i> {{ 'Duplicate'|trans({}, 'LibrinfoEmailBundle') }}</a>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
    var dropzoneMessages = {
        
        'defaultMessage': '{{ 'dropzone.defaultMessage'|trans({}, 'LibrinfoEmailBundle') }}',
        'fallbackMessage': '{{ 'dropzpone.fallbackMessage'|trans({}, 'LibrinfoEmailBundle') }}',
        'fallbackText': '{{ 'dropzone.fallbackText'|trans({}, 'LibrinfoEmailBundle') }}',
        'invalidFileType': '{{ 'dropzone.invalidFileType'|trans({}, 'LibrinfoEmailBundle') }}',
        'fileTooBig': '{{ 'dropzone.fileTooBig'|trans({}, 'LibrinfoEmailBundle') }}',
        'responseError': '{{ 'dropzone.responseError'|trans({}, 'LibrinfoEmailBundle') }}',
        'maxFilesExceeded': '{{ 'dropzone.maxFilesExceeded'|trans({}, 'LibrinfoEmailBundle') }}'
        
    };
</script>
    <script type="text/javascript" src="{{ asset('bundles/librinfoemail/js/main.js') }}"></script>
{% endblock %}
