
{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block show %}
    {{ parent() }}
    {% if admin.id(object) is not null %}
        <a class="btn btn-info" href="{{ admin.generateObjectUrl('duplicate', object) }}"><i class="fa fa-files-o"></i> {{ 'Duplicate'|trans({}, 'SonataAdminBundle') }}</a>
    {% endif %}
{% endblock %}    

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/librinfoemail/css/stats.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/librinfoemail/js/jquery.classyloader.min.js') }}"></script>
    {% if stats is defined %}
        {% include 'LibrinfoEmailBundle:script:stats_script.js.twig' %}      
    {% endif %}

{% endblock %}