
{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if object.tracking %}
        <div class="tracking">
            <div class="row">
                <div class="stats">
                    <p class="stat_label">{{ 'Read receipts'|trans() }}</p>
                    <canvas id="receipts_loader"></canvas>
                </div>
                <div class="stats">
                    <p class="stat_label">{{ 'Links clicked'|trans() }}</p>
                    <canvas id="links_loader"></canvas>
                </div>
            </div>  
            <div class="row link_row" id="most_clicked">
                <p class="stat_label">{{ 'Most clicked link:'|trans() }} </p>
            </div>
            <div class="row link_row" id="least_clicked">
                <p class="stat_label">{{ 'Least clicked link:'|trans() }}</p>
            </div>
        </div>
    {% else %}
        <p>{{ 'Tracking is not enabled for this email'|trans() }}</p>
    {% endif %}
    
    <div class="js-i18n" data-source="no-links-clicked" data-target="{{ 'No links clicked'|trans() }}"></div>
{% endblock %}